{% extends "blog/base.html" %}
{% block content %}
<article class="message">
    <div class="message-header">
        <h2 class="is-size-4 has-text-weight-bold">{{post.title}}</h2>
        <div class="has-text-right">Posted at {{ post.posted_date }}</div>
    </div>
    <div class="message-body">
        <p class="mb-1">
            {{post.intro}}
        </p>
        <p>
            {{post.body}}
        </p>
    </div>
</article>
<!--コメントされたものを表示-->
<div class="block">
    <h3 class="title is-5">コメント</h3>
    {% for comment in post.comments.all %}
    <article class="media">
        <div class="media-content">
            <div class="content">
                <p>
                    {{comment.name}}
                    <small>{{comment.posted_date}}</small>
                </p>
                <p>{{comment.body}}</p>
            </div>
        </div>
    </article>
    {% empty %}
    <div class="notification">
        コメントはまだありません
    </div>
    {% endfor %}
</div>
<!--コメント投稿エリア-->
<form action="." method="post" class="box">
    <h3 class="title is-5">コメントを追加</h3>
    {% csrf_token %}
    {{ form.as_div }}
    <div class="field">
        <div class="controle">
            <button class="button is-danger">送信</button>
        </div>
    </div>
</form>
{% endblock %}
